<footer class="site-footer h-card">
        <div class="wrapper">
            <h2 class="footer-heading">{{ site.title }}</h2>

            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <ul class="contact-list">
                        <li class="p-name">{{ site.title }}</li>
                        <li>
                            <a class="u-email" href="mailto:{{ site.email }}" target="_blanck">{{ site.email }}</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-col footer-col-2">
                    <ul class="social-media-list">
                        <li>
                            <a href="https://github.com/Albertosouzasoares" target="_blanck">
                                <svg class="svg-icon">
                                    <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                                </svg>
                                <span class="username">{{ site.github }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/{{ site.instagram }}" target="_blanck">
                                <svg class="svg-icon">
                                    <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
                                </svg>
                                <span class="username">{{ site.instagram }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="footer-col footer-col-3">
                    <p>{{ site.description }}</p>
                </div>
            </div>
        </div>
    </footer>